/.venv
/build
/code_example.txt
/pudding.bat
/pudding.spec
/__pycache__
Pudding/build/pudding/Analysis-00.toc
Pudding/build/pudding/base_library.zip
Pudding/build/pudding/EXE-00.toc
Pudding/build/pudding/PKG-00.toc
Pudding/build/pudding/pudding.exe.manifest
Pudding/build/pudding/pudding.pkg
Pudding/build/pudding/PYZ-00.pyz
Pudding/build/pudding/PYZ-00.toc
Pudding/build/pudding/warn-pudding.txt
Pudding/build/pudding/xref-pudding.html
Pudding/build/pudding/localpycs/pyimod01_archive.pyc
Pudding/build/pudding/localpycs/pyimod02_importers.pyc
Pudding/build/pudding/localpycs/pyimod03_ctypes.pyc
Pudding/build/pudding/localpycs/pyimod04_pywin32.pyc
Pudding/build/pudding/localpycs/struct.pyc
Pudding/pudding.spec
Pudding/__pycache__/pudding_builtins.cpython-310.pyc
Pudding/__pycache__/pudding_data.cpython-310.pyc
Pudding/__pycache__/pudding_interpreter.cpython-310.pyc
Pudding/__pycache__/pudding_parser.cpython-310.pyc
run.bat
test.pud
Pudding/__pycache__/pudding_builtins.cpython-311.pyc
Pudding/__pycache__/pudding_data.cpython-311.pyc
Pudding/__pycache__/pudding_interpreter.cpython-311.pyc
Pudding/__pycache__/pudding_parser.cpython-311.pyc
